@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

button,
input {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    padding: 0.4rem;
    margin-top: 20px;
}

#home {
    display: block;
}

#list {
    display: none;
}

.mainList2 {
    width: 60%;
}

.main {
    min-height: 400px;
}

#numbers {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

ul {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

li {
    list-style: none;
    background-image: url("/img/ball.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    font-weight: bolder;
    padding: 2rem 1.5rem 2rem 1.5rem;
    font-size: 1.1rem;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    background-image: url("/img/HDBG.png");
    background-size: contain;
    border-top: 1rem solid hsl(142, 70%, 30%);
}

header > h1 {
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px hsl(1, 0%, 20%);
    color: hsl(142, 70%, 40%);
    background-color: hsl(1, 0%, 100%));
}


/*************************************************
            MAIN CONTENT
*************************************************/
.num_list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section > p {
    padding: 0 0 1rem 0;
}

button {
    color: hsl(1, 0%, 100%);
    background-color: hsl(1, 0%, 70%);
    font-size: 1.1rem;
    border: 5px solid hsl(142, 70%, 40%);
    border-radius: 15px;
    border-width: medium;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

button:hover {
    background-color: hsl(142, 70%, 30%);
}

#max,
#digits {
    font-size: 1rem;
    color: hsl(1, 0%, 30%);
    box-shadow: 2px 2px 3px 1px hsl(1, 0%, 50%);
}

.results,
.main {
    min-height: calc(100vh - 180px);
}


/*************************************************
            FOOTER
*************************************************/
footer {
    background-image: linear-gradient(hsl(1, 0%, 60%), hsl(1, 0%, 95%), hsl(1, 0%, 60%));
    font-size: 1.3rem;
    padding: 1rem 2rem;
    width: 100%;
    height: 66px;
}


/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {

    header > h1 {
        font-size: 2.8rem;
    }

    li {
        background-size: 50px;
        padding: 2rem 1.4rem 2rem 1.4rem;
        font-size: 1.1rem;
    }

    label,
    span {
        font-size: 1.1rem;
    }

    .results,
    .main {
        min-height: calc(100vh - 180px);
    }
}

@media (min-width: 600px) and (max-width:999px) {

    header > h1 {
        font-size: 3rem;
    }

    li {
        background-size: 75px;
        padding: 2rem 2rem 2rem 2rem;
        font-size: 2rem;
    }

    button,
    label,
    span {
        font-size: 1.2rem;
    }

    .results,
    .main {
        min-height: calc(100vh - 184px);
    }
}

@media (min-width: 1000px) {

    header > h1 {
        font-size: 3.2rem;
    }

    li {
        background-size: 100px;
        padding: 2rem 3rem 2rem 3rem;
        font-size: 2.5rem;
    }

    .mainList2 {
        width: 50%;
    }

    button,
    label,
    span {
        font-size: 1.3rem;
    }

    .results,
    .main {
        min-height: calc(100vh - 188px);
    }
}
